@model ForumSystemDTO.ViewModels.HomeViewModels.CommentFormViewModel

<h2>Add Comment</h2>

<form asp-controller="Comment" asp-action="SubmitComment" method="post">
    <input asp-for="PostId" type="text" name="postId"/>
    <textarea asp-for="CommentContent" rows="4" cols="50"></textarea>
    <br />
    <input type="submit" value="Submit" />
</form>