<li style="position: absolute; list-style: none; display: block; width: 6.25rem; height: 7.5rem; align-items: center; justify-content: space-between;">
    <div class="check-background" style="width: 100%; height: calc(100% - 1.25rem); background: linear-gradient(to bottom right, #5de593, #41d67c); box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset; transform: scale(0.84); border-radius: 50%; animation: animateContainer 0.75s ease-out forwards 0.75s; display: flex; align-items: center; justify-content: center; opacity: 0;">
        <svg viewBox="0 0 24 24" style="width: 65%; transform: translateY(0.25rem); stroke-dasharray: 80; stroke-dashoffset: 80; animation: animateCheck 0.35s forwards 1.25s ease-out;">
            <path fill="none" stroke="#ffffff" stroke-width="2" d="M6,11.75 L10.75,16.5 L18.25,9"></path>
        </svg>
    </div>
    <div class="check-shadow" style="bottom: calc(-15% - 5px); left: 0; border-radius: 50%; background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent); animation: animateShadow 0.75s ease-out forwards 0.75s;"></div>
</li>

<h2>User blocked successful!</h2>
<form asp-controller="Home" asp-action="Index">
    <div class="input-container">
    <button type="submit" class="basic-form-submit">Home page</button>
    </div>
</form>