<div class="basic-form">

    <div id="basic-form-title">User unblocked successfully.</div>


    <br>


    <div class="validation-error-message">
        @if (this.ViewData["ErrorMessage"] is not null)
        {
            <p>@this.ViewData["ErrorMessage"]</p>
        }
    </div>

    <form asp-controller="Home" asp-action="Index">
        <button type="submit" class="basic-form-submit">Home page</button>
    </form>

</div>