@{
    int? loggedUserId = this.Context.Session.GetInt32("userId");
    bool isAdmin = this.Context.Session.GetInt32("roleId") == 3;
    int? userIdToUnBlock = this.ViewBag.userIdToUnBlock;
}

<div class="credentials-form">

    <div id="credentials-title">Hello Admin.</div>
    <div id="register-subtitle">Confirm to continue your action.</div>


    <br>


    <div class="validation-error-message">
        @if (this.ViewData["ErrorMessage"] is not null)
        {
            <p>@this.ViewData["ErrorMessage"]</p>
        }
    </div>

    @if (this.ViewData["ErrorMessage"] is null)
    {
    <form asp-controller="Admin" asp-action="UnBlock" asp-route-id="@userIdToUnBlock" method="post">
        <button type="submit" class="submit">UnBlock</button>
    </form>
    <br>
        
    }     
    <form asp-controller="Home" asp-action="Index">
        <button type="submit" class="submit">Home page</button>
    </form>

</div>