/*body {
    background: #f2f7ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: century gothic;
    margin: 0;
}*/

html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    background: #f2f7ed;
    display: flex;
    flex-direction: column;
    font-family: century gothic;
}

header {
    flex: none;
    margin-top: 0px;
}

main {
    flex: 1;
}

footer {
    flex: none;
    bottom: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
    width: 100%;
    color: white;
    margin-top: 40px;
}

/*#region navbar*/
nav {
    background: #404040;
}

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

        nav ul li:first-child {
            order: -1;
        }

        nav ul li:nth-child(3) {
            order: 2;
            margin-right: 10px;
        }

        nav ul li:last-child {
            margin-left: auto;
        }

.menuItems {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
}

    .menuItems li {
        margin: 10px;
        max-height: 60px;
        height: 70px;
    }

        .menuItems li a {
            display: inline-block;
            line-height: 60px;
            text-decoration: none;
            color: #f2f2f2;
            font-size: 24px;
            font-weight: 500;
            transition: all 0.5s ease-in-out;
            position: relative;
            text-transform: uppercase;
        }

            .menuItems li a::before {
                content: attr(data-item);
                color: #ff62f9;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 0;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
            }

            .menuItems li a:hover::before {
                width: 100%;
                transition: all 0.5s ease-in-out;
            }

        .menuItems li:first-child a #hoverImg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }

        .menuItems li:first-child a:hover #hoverImg {
            width: 100%;
            transition: all 0.5s ease-in-out;
        }

.cubeImage {
    width: 60px;
    height: 60px;
    vertical-align: central;
}
/*#endregion*/

.user-post-info {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

    .user-post-info span {
        color: chartreuse;
    }

/*#region tables*/
.custom-table {
    background: #404040;
    color: #f2f2f2;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    min-width: 1500px;
}

    .custom-table thead tr, .custom-table thead th {
        padding-bottom: 30px;
        border-top: none;
        border-bottom: none !important;
        border: none;
        background: #404040;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }

    .custom-table tbody th, .custom-table tbody td {
        color: #777;
        font-weight: 400;
        font-weight: 300;
        padding: 8px;
        text-align: center;
    }

.table-hyperlink a {
    display: inline-block;
    text-decoration: none;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    position: relative;
}

    .table-hyperlink a:hover {
        color: #ff62f9;
        transition: all 0.5s ease-in-out;
    }

/*.border-shadow {
    box-shadow: 0px 0px 15px 2px chartreuse;
    border-radius: 10px;
    width: fit-content;
}*/

.labeled-table {
    margin: auto;
    margin-top: 40px;
    width: fit-content;
    overflow: hidden;
    position: relative;
}
/*#endregion*/

/*#region errorPage*/
.page_404 {
    padding: 40px 0;
    background: #f2f7ed;
    font-family: century gothic;
}

    .page_404 img {
        width: 100%;
    }

.four_zero_four_bg {
    background-image: url('../images/output-onlinegiftools(1).gif');
    height: 400px;
    width: 800px;
    background-position: center;
    margin: auto;
}

.contant_box_404 {
    margin-top: -50px;
    text-align: center;
}

.response-code {
    margin-bottom: 10px;
}

#error-message {
    text-align: center;
    font-size: 100px;
}
/*#endregion*/

.button {
    color: #f2f2f2;
    padding: 10px 20px;
    background: #404040;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    border-radius: 5px;
}

    .button:hover {
        color: #ff62f9;
        transition: all 0.5s ease-in-out;
    }

h2.table-label {
    /*    width: fit-content;*/
    text-align: left;
    block-size: fit-content;
    position:relative;
}

#create-post-button {
    float: right;
    margin-left: auto;
    margin-right: 0px;
}

#row {
    display: flex;
    flex-direction: row;
}
