@{
    int? loggedUserId = this.Context.Session.GetInt32("userId");
    bool isAdmin = this.Context.Session.GetInt32("roleId") == 3;
    int? userIdToDelete = this.ViewBag.userIdToDelete;
}

<div class="basic-form">
    @if (!isAdmin)
    {
        <div id="basic-form-title">It's sad to see you here.</div>
        <div id="basic-form-subtitle">Are you sure about this?</div>
    }
    else
    {
        <div id="basic-form-title">Hello Admin.</div>
        <div id="basic-form-subtitle">Confirm to continue your action.</div>
    }
    <br>


        <div class="validation-error-message">
            @if (this.ViewData["ErrorMessage"] is not null)
            {
                <p>@this.ViewData["ErrorMessage"]</p>
            }
        </div>

        <form asp-controller="User" asp-action="DeleteUser" asp-route-id="@userIdToDelete" method="post">
            <button type="submit" class="submit">Delete</button>
        </form>
        <br>
        <form asp-controller="Home" asp-action="Index" >
        <button type="submit" class="submit">Home page</button>
        </form>

</div>