@model ForumSystemDTO.ViewModels.UserViewModels.Login

<div class="basic-form">
	<div id="basic-form-title">Welcome back</div>
	<div id="basic-form-subtitle">Please enter your Username and password.</div>

	<form id="login-form" asp-controller="User" asp-action="Login" method="post">

		<div class="validation-error-message">
			@if (this.ViewData["ErrorMessage"] is not null)
			{
				<p>@this.ViewData["ErrorMessage"]</p>
			}
		</div>

		<div class="input-container">
			<input asp-for="Username" class="basic-form-input" type="text" placeholder=" " />
			<span asp-validation-for="Username" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="Username" class="placeholder">Username</label>
		</div>

		<div class="input-container">
			<input asp-for="Password" class="basic-form-input" type="password" placeholder=" " />
			<span asp-validation-for="Password" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="Password" class="placeholder">Password</label>
		</div>

		<form asp-controller="User" asp-action="Login" method="post">
			<button type="submit" class="basic-form-submit">Login</button>
		</form>
	</form>
</div>