@model ForumSystemDTO.ViewModels.UserViewModels.RegisterUser

@if (this.ViewData["ErrorMessage"] is not null)
{
    <p>@this.ViewData["ErrorMessage"]</p>
}
    <form id="register-form" asp-controller="User" asp-action="Register" method="post">

        <label asp-for="FirstName">First name:</label><br>
        <input asp-for="FirstName" type="text" >
        <span asp-validation-for="FirstName"></span><br>

        <label asp-for="LastName">Last name:</label><br>
        <input asp-for="LastName" type="text">
        <span asp-validation-for="LastName"></span><br>

        <label asp-for="Username">Username:</label><br>
        <input asp-for="Username" type="text">
        <span asp-validation-for="Username"></span><br>

        <label asp-for="Email">Email:</label><br>
        <input asp-for="Email" type="email">
        <span asp-validation-for="Email"></span><br>

        <label asp-for="Password">Password:</label><br>
        <input asp-for="Password" type="text">
        <span asp-validation-for="Password"></span><br>

        <label asp-for="PhoneNumber">Phonenumber:</label><br>
        <input asp-for="PhoneNumber" type="text"><br>

        <button class="button">
        <input asp-controller="User" asp-action="Register" method="post" type="submit" value="Register">
        </button>
         @*<button class="button">
        <a asp-controller="User" asp-action="Register" method="post">Register</a>
         </button>*@
    </form>