@model ForumSystemDTO.ViewModels.UserViewModels.RegisterUser

<div class="basic-form">
	<div id="basic-form-title">Welcome</div>
	<div id="basic-form-subtitle">Let's create your account!</div>

	<form id="register-form" method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register">

		<div class="validation-error-message">
			@if (this.ViewData["ErrorMessage"] is not null)
			{
				<p>@this.ViewData["ErrorMessage"]</p>
			}
		</div>

		<div class="input-container">
			<input asp-for="FirstName" class="basic-form-input" type="text" placeholder=" " />
			<span asp-validation-for="FirstName" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="FirstName" class="placeholder">First Name</label>
		</div>

		<div class="input-container">
			<input asp-for="LastName" class="basic-form-input" type="text" placeholder=" " />
			<span asp-validation-for="LastName" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="LastName" class="placeholder">Last Name</label>
		</div>

		<div class="input-container">
			<input asp-for=Email class="basic-form-input" type="text" placeholder=" " />
			<span asp-validation-for="Email" class="validation-error-message"></span><br>
			<div class="cut cut-short"></div>
			<label asp-for="Email" class="placeholder">Email</label>
		</div>

		<div class="input-container">
			<input asp-for="Username" class="basic-form-input" type="text" placeholder=" " />
			<span asp-validation-for="Username" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="Username" class="placeholder">Username</label>
		</div>

		<div class="input-container">
			<input asp-for="Password" class="basic-form-input" type="password" placeholder=" " />
			<span asp-validation-for="Password" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="Password" class="placeholder">Password</label>
		</div>

		<div class="input-container">
			<input asp-for=PhoneNumber class="basic-form-input" type="text" placeholder=" " />
			<span asp-validation-for="PhoneNumber" class="validation-error-message"></span><br>
			<div class="cut cut-short"></div>
			<label asp-for="PhoneNumber" class="placeholder">Phone</label>
		</div>

		<div >
			<input class="basic-form-submit" asp-for=ProfilePic accept="image/*" class="basic-form-input" />
			<label asp-for="ProfilePic" class="placeholder">Profile picture.</label>
		</div>
		<br>
		<form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register">
			<button type="submit" class="basic-form-submit">Register</button>
		</form>
	</form>
</div>