@model ForumSystem.Web.ViewModels.UserViewModels.RegisterUser

    <form id="register-form" asp-controller="User" asp-action="Register" method="post">

        <label asp-for="FirstName">First name:</label><br>
        <input asp-for="FirstName" type="text" >
        <span asp-validation-for="FirstName"></span><br>

        <label asp-for="LastName">Last name:</label><br>
        <input asp-for="LastName" type="text">
        <span asp-validation-for="LastName"></span><br>

        <label asp-for="Username">Username:</label><br>
        <span asp-validation-for="Username"></span>
        <input asp-for="Username" type="text"><br>

        <label asp-for="Email">Email:</label><br>
        <span asp-validation-for="Email"></span>
        <input asp-for="Email" type="email"><br>

        <label asp-for="Password">Password:</label><br>
        <span asp-validation-for="Password"></span>
        <input asp-for="Password" type="text"><br>

        <label asp-for="PhoneNumber">Phonenumber:</label><br>
        <input asp-for="PhoneNumber" type="text"><br>

        <input asp-controller="User" asp-action="Register" method="post" type="submit" value="Register">
    </form>