@model ForumSystemDTO.ViewModels.UserViewModels.RegisterUser

<div id="about-body">
	<div id="about-text">
		Hello! We are <b>Nasko</b>, <b>Niki</b> and <b>Katrin</b>. This is a student project for <b>Alpha C# Track</b>. Contact us!
	</div>
</div>

