@model ForumSystemDTO.ViewModels.UserViewModels.RegisterUser

<div>
	<p>Telerik Academy</p><br>

	<div id="Creators">
		Creators:
		<p>Atanas Iliev</p>
		<p>Nikolai Gigov</p>
		<p>Katrin Lilova</p>
	</div>
</div>