@model ForumSystem.Web.ViewModels.HomeViewModels.HomePageViewModel;
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <meta charset="utf-8">
    <title>BlockieTalkie</title>
</head>

<body>
    <section>
        <nav>
            <ul class="menuItems">
                <li><a href='#' data-item='Home'>Home</a></li>
                <li><a href='#' data-item='About'>About</a></li>
                <li><a href='#' data-item='Posts'>Posts</a></li>
                <li><a href='#' data-item='Register'>Register</a></li>
                <li><a href='#' data-item='Login'>Login</a></li>
            </ul>
        </nav>
    </section>
    <div>
        <p>
           @this.Model.UsersCount;
        </p>
    </div>

    <h2>List Elements: Top 10 Most Commented Posts</h2>
    @if (HomePageViewModel.TopCommentedPosts != null && HomePageViewModel.TopCommentedPosts.Count > 0)
    {
        <ul>
            @foreach (var item in HomePageViewModel.TopCommentedPosts)
            {
                <li>@item</li>
            }
        </ul>
    }
    else
    {
        <p>No elements in the list.</p>
    }

    <h2>List Elements: Top 10 Recently Created Posts</h2>
    @if (HomePageViewModel.RecentlyCreatedPosts != null && HomePageViewModel.RecentlyCreatedPosts.Count > 0)
    {
        <ul>
            @foreach (var item in HomePageViewModel.RecentlyCreatedPosts)
            {
                <li>@item</li>
            }
        </ul>
    }
    else
    {
        <p>No elements in the list.</p>
    }

    <footer>
    </footer>
</body>
</html> 