<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>BlockieTalkie</title>
</head>

<body>
    <section>
        <nav>
            <ul class="menuItems">
                <li><a href='#' data-item='Home'>Home</a></li>
                <li><a href='#' data-item='About'>About</a></li>
                <li><a href='#' data-item='Posts'>Posts</a></li>
                <li><a href='#' data-item='Register'>Register</a></li>
                <li><a href='#' data-item='Log In'>Login</a></li>
            </ul>
        </nav>
    </section>

    <footer>
    </footer>
</body>
</html> 