@model ForumSystemDTO.ViewModels.PostViewModels.CreatePostViewModel;

<div class="basic-form big-basic-form">
	<div id="basic-form-title">Create post</div>
	<form asp-controller="Post" asp-action="Create" method="post">
		<div class="validation-error-message">
			@if (this.ViewData["ErrorMessage"] is not null)
			{
				<p>@this.ViewData["ErrorMessage"]</p>
			}
		</div>

		<div class="input-container">
			<input asp-for="Title" class="basic-form-input" type="text" placeholder=" " />
			<span asp-validation-for="Title" class="validation-error-message"></span><br>
			<div class="cut cut-short"></div>
			<label asp-for="Title" class="placeholder">Title</label>
		</div>

		<div class="input-container big-input-container">
			<textarea asp-for="Content" class="basic-form-input" type="text" placeholder=" "> </textarea>
			<span asp-validation-for="Content" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="Content" class="placeholder">Content</label>
		</div>

		<form asp-controller="Post" asp-action="Create" method="post">
			<div class="input-container">
				<button type="submit" class="basic-form-submit">Submit</button>
			</div>
		</form>
	</form>
</div>