@model ForumSystemDTO.ViewModels.PostViewModels.CreatePostViewModel;

<div class="basic-form" id="edit-post-form">
	<div id="basic-form-title">Create post</div>
	<form class="post-comment-form" asp-controller="Post" asp-action="Create" method="post">
		<div class="validation-error-message">
			@if (this.ViewData["ErrorMessage"] is not null)
			{
				<p>@this.ViewData["ErrorMessage"]</p>
			}
		</div>

		<div class="input-container" id="edit-post-content-input-container">
			<textarea asp-for="Content" class="basic-form-input" type="text" placeholder=" "> </textarea>
			<span asp-validation-for="Content" class="validation-error-message"></span><br>
			<div class="cut"></div>
			<label asp-for="Content" class="placeholder">Content</label>
		</div>

		<form asp-controller="Post" asp-action="Edit" method="post">
			<button type="submit" class="basic-form-submit">Submit</button>
		</form>
	</form>
</div>