<h1 id="error-message">@ViewData["ErrorMessage"]</h1>

<div class="four_zero_four_bg">
</div>

<div class="contant_box_404">

	<h2 class="response-code">
		Error: @Context.Response.StatusCode
	</h2>

	<a asp-controller="Home" asp-action="Index" class="link_404">Go to Home</a>
	<span><a asp-controller="User" asp-action="Register" class="link_404">Try again</a></span>
</div>
