@model ForumSystem.DataAccess.Models.Tag
@{
    int postId = (int)this.ViewData["PostId"];

}

<h2>Edit Tag</h2>

<form asp-controller="Tag" asp-action="UpdateTag" asp-route-postId="@postId" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Tag Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <form asp-controller="Tag" asp-action="UpdateTag" asp-route-postId="@postId" method="post">
        <button type="submit" class="basic-form-submit">Save Changes</button>
    </form>
</form>